<div class="sidebar">
    <div class="sidebar-container">
        <hr style="border: .5px solid #777777; margin: 10px 0;">
        <h2>DASHBOARD</h2>
        <hr style="border: .5px solid #777777; margin: 10px 0;">
        <h2>QUICK NAVIGATION</h2>
        <ul>
            <li><a href="/monitor-transactions">Monitor Transactions</a></li>
            <li><a href="/buying-sales-record">Buying & Sales Record</a></li>
            <li><a href="/manage-user-accounts">Manage User Accounts</a></li>
            <li><a href="/system-configuration">System Configuration</a></li>
        </ul>
    </div>
</div>
