<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage User Accounts</title>
    <link rel="stylesheet" href="/css/global.css"> <!-- Global Styles -->
    <link rel="stylesheet" href="/css/manage-accounts-style.css"> <!-- Page-Specific Styles -->
  <body>
    <div th:replace="partials/header.html"></div>
    <div class="container">
        <div th:replace="partials/sidebar.html"></div>

        <div class="main-content">
            <h1>Manage User Accounts</h1>
            <div class="summary">
                <div class="summary-item">
                    <h2>Total Buyer Accounts<br> <span id="totalBuyers">3</span></h2>
                </div>
                <div class="summary-item">
                    <h2>Total Seller Accounts<br> <span id="totalSellers">3</span></h2>
                </div>
                <div class="summary-item">
                    <h2>New Buyer Accounts<br> <span id="newBuyers">0</span></h2>
                </div>
                <div class="summary-item">
                    <h2>New Seller Accounts<br> <span id="newSellers">1</span></h2>
                </div>
            </div>
         <div class="tables">
            <div class="table1">
                <h3>Buyer Accounts</h3>
                <table class="user-table">
                    <tr>
                        <th>User ID</th>
                        <th>Join Date</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2024-10-29</td>
                        <td><button>Delete account</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2024-10-19</td>
                        <td><button>Delete account</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2024-09-14</td>
                        <td><button>Delete account</button></td>
                    </tr>
                </table>
            </div>
            <div class="table2">
                <h3>Seller Accounts</h3>
                <table class="user-table">
                    <tr>
                        <th>User ID</th>
                        <th>Join Date</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2024-10-24</td>
                        <td><button>Delete account</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2024-10-14</td>
                        <td><button>Delete account</button></td>
                    </tr>
                </table>
            </div>
         </div>
            <a href="/dashboard">Back to Dashboard</a>
        </div>
    </div>
  </body>
</html>
